table {
    margin-top: 5%;
    width: 100%;
    table-layout: fixed;
  }
  table tr th {
    text-align: left;
    background: gray;
    color: white;
    padding: auto;
  }
  table td {
    text-align: left;
    /* background: gray; */
    color: white;
  }

  .loader{
    text-align: center;
    margin-top: 20%;
  }